body{
    background:url("../images/background2.jpg") no-repeat fixed center;
    background-size: 80%;
    background-color: #8A2BE2;
  
}

#game-canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }